// variables

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$font_one: 'Inter', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$blue_strong: rgb(0, 0, 88);
$blue_light: #0000ff;
